.acf-postbox:has([data-name=template_header_image]) {
  display: none !important;
}

.acf-field-true-false[data-type=true_false] {
  position: relative;
}
.acf-field-true-false[data-type=true_false] .acf-label {
  padding-left: 23px;
}
.acf-field-true-false[data-type=true_false] .acf-input {
  display: inline-block;
  width: auto;
  position: absolute;
  top: 14px;
  left: 16px;
}

.acf-field[data-name=hero_video_url],
.acf-field[data-name=hero_image] {
  width: 40%;
  float: left;
  clear: none;
  border-top: none !important;
}
.acf-field[data-name=hero_video_url] .acf-input, .acf-field[data-name=hero_video_url] .acf-image-uploader, .acf-field[data-name=hero_video_url] .image-wrap,
.acf-field[data-name=hero_image] .acf-input,
.acf-field[data-name=hero_image] .acf-image-uploader,
.acf-field[data-name=hero_image] .image-wrap {
  max-width: 100% !important;
  width: 100% !important;
}
.acf-field[data-name=hero_video_url] .acf-input img, .acf-field[data-name=hero_video_url] .acf-image-uploader img, .acf-field[data-name=hero_video_url] .image-wrap img,
.acf-field[data-name=hero_image] .acf-input img,
.acf-field[data-name=hero_image] .acf-image-uploader img,
.acf-field[data-name=hero_image] .image-wrap img {
  width: 100% !important;
  height: auto !important;
}

.acf-field[data-name],
.acf-field[data-name] * {
  box-sizing: border-box;
}

.acf-field[data-name=hero_text] {
  width: 60%;
  float: left;
  clear: none;
  border-top: none !important;
  padding-top: 0 !important;
}
.acf-field[data-name=hero_text] .acf-label {
  display: none;
}
.acf-field[data-name=hero_text] .mce-edit-area.mce-container {
  border-right: 1px solid #ccd0d4 !important;
}

.acf-field[data-name=has_hero_text] {
  width: 70%;
  float: left;
  clear: none;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  top: 5px;
  border-top: none !important;
}
.acf-field[data-name=has_hero_text] .acf-label {
  position: relative;
  top: 14px;
}

.acf-field[data-name=hero_text] iframe {
  height: auto !important;
  min-height: 150px !important;
}

[data-name=intro_text_content] .mce-edit-area.mce-container iframe,
.acf-field-wysiwyg[data-name*=section_intro] .mce-edit-area.mce-container iframe,
.acf-field-wysiwyg[data-name*=_intro_] .mce-edit-area.mce-container iframe,
.acf-field-wysiwyg[data-name*=_description] .mce-edit-area.mce-container iframe,
.acf-field[data-name=intro_featured] .mce-edit-area.mce-container iframe,
.acf-field[data-name=intro_text] .mce-edit-area.mce-container iframe {
  min-height: 150px !important;
}

.acf-field-group[data-name=welcome] .acf-field.acf-field-image {
  width: 30%;
  float: left;
  clear: none;
}
.acf-field-group[data-name=welcome] .acf-field.acf-field-image .acf-input, .acf-field-group[data-name=welcome] .acf-field.acf-field-image .acf-image-uploader, .acf-field-group[data-name=welcome] .acf-field.acf-field-image .image-wrap {
  max-width: 100% !important;
  width: 100% !important;
}
.acf-field-group[data-name=welcome] .acf-field.acf-field-image .acf-input img, .acf-field-group[data-name=welcome] .acf-field.acf-field-image .acf-image-uploader img, .acf-field-group[data-name=welcome] .acf-field.acf-field-image .image-wrap img {
  width: 100% !important;
  height: auto !important;
}
.acf-field-group[data-name=welcome] .acf-field.acf-field-wysiwyg {
  width: 70%;
  float: left;
  clear: none;
}

.acf-field-flexible-content * {
  box-sizing: border-box;
}
.acf-field-flexible-content [data-layout=image_and_text_column] * {
  box-sizing: border-box;
}
.acf-field-flexible-content [data-layout=image_and_text_column] [data-name=featured_image] {
  width: 30%;
  float: left;
  clear: none;
}
.acf-field-flexible-content [data-layout=image_and_text_column] [data-name=featured_image] .show-if-value.image-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 185px;
}
.acf-field-flexible-content [data-layout=image_and_text_column] [data-name=featured_image] .show-if-value.image-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.acf-field-flexible-content [data-layout=image_and_text_column] [data-name=text] {
  width: 70%;
  float: left;
  clear: none;
}
.acf-field-flexible-content [data-layout=image_and_text_column] [data-name=buttons_alignment],
.acf-field-flexible-content [data-layout=image_and_text_column] [data-name=bgcolor],
.acf-field-flexible-content [data-layout=image_and_text_column] [data-name=text_color] {
  width: 33.33%;
  float: left;
  clear: none;
}
.acf-field-flexible-content [data-layout=image_and_text_column] [data-name=image_position] {
  width: 30%;
  position: absolute;
  top: 230px;
}
.acf-field-flexible-content [data-layout=two_column_intro] [data-name=collage_images],
.acf-field-flexible-content [data-layout=two_column_intro] [data-name=featured_image] {
  width: 30%;
  float: left;
  clear: none;
}
.acf-field-flexible-content [data-layout=two_column_intro] [data-name=description] {
  width: 70%;
  float: left;
  clear: none;
}

[data-layout=fullwidth_textcontent] .acf-field[data-name=content_alignment] {
  width: 30%;
  float: left;
  clear: none;
}
[data-layout=fullwidth_textcontent] .acf-field[data-name=has_graphic_background] {
  width: 70%;
  float: left;
  clear: none;
}
[data-layout=fullwidth_textcontent] .acf-field[data-name=has_graphic_background] .acf-label {
  top: 24px;
}
[data-layout=fullwidth_textcontent] .acf-field[data-name=has_graphic_background] .acf-input {
  top: 40px;
}

#pageparentdiv.postbox,
#pageparentdiv.hide-if-js {
  display: block !important;
}

/*# sourceMappingURL=admin.css.map */
