.acf-postbox:has([data-name="template_header_image"]) {
  display: none!important;
}
.acf-field-true-false[data-type="true_false"] {
  position: relative; 
  .acf-label {
    padding-left: 23px;
  }
  .acf-input {
    display: inline-block;
    width: auto;
    position: absolute;
    top: 14px;
    left: 16px;
  }
}

.acf-field[data-name="hero_type"] {
  position: absolute!important;
  width: 40%;
  top: 0;
  z-index: 100;
}
.acf-field[data-name="hero_video_url"],
.acf-field[data-name="hero_image"] {
  width: 40%;
  float: left;
  clear: none;
  border-top: none!important;
  .acf-input, .acf-image-uploader, .image-wrap {
    max-width: 100%!important;
    width: 100%!important;
    img {
      width: 100%!important;
      height: auto!important;
    }
  }
}
.acf-field[data-name="hero_video_url"],
.acf-field[data-name="hero_image"] {
  margin-top: 80px!important;
}
.acf-field[data-name="hero_slider"] {
  padding-top: 95px!important;
}
.acf-field[data-name],
.acf-field[data-name] * {
  box-sizing: border-box;
}
.acf-field[data-name="hero_text"] {
  width: 60%;
  float: left;
  clear: none;
  border-top: none !important;
  padding-top: 0 !important;
  .acf-label {
    display: none;
  }
  .mce-edit-area.mce-container {
    border-right: 1px solid #ccd0d4!important;
  }
}
.acf-field[data-name="has_hero_text"] {
  width: 70%;
  float: left;
  clear: none;
  padding-top: 0 !important;
  padding-bottom: 0!important;
  top: 5px;
  border-top: none !important;
  .acf-label {
    position: relative;
    top: 14px;
  }
}
.acf-field[data-name="hero_text"] iframe {
  height: auto!important;
  min-height: 150px!important;
}

[data-name="intro_text_content"] .mce-edit-area.mce-container iframe,
.acf-field-wysiwyg[data-name*="section_intro"] .mce-edit-area.mce-container iframe,
.acf-field-wysiwyg[data-name*="_intro_"] .mce-edit-area.mce-container iframe,
.acf-field-wysiwyg[data-name*="_description"] .mce-edit-area.mce-container iframe,
.acf-field[data-name="intro_featured"] .mce-edit-area.mce-container iframe,
.acf-field[data-name="intro_text"] .mce-edit-area.mce-container iframe {
  //height: auto!important;
  min-height: 150px!important;
}
.acf-field-group[data-name="welcome"] {
  .acf-field.acf-field-image {
    width: 30%;
    float: left;
    clear: none;
    .acf-input, .acf-image-uploader, .image-wrap {
      max-width: 100%!important;
      width: 100%!important;
      img {
        width: 100%!important;
        height: auto!important;
      }
    }
  }
  .acf-field.acf-field-wysiwyg {
    width: 70%;
    float: left;
    clear: none;
  }
}

.acf-field-flexible-content {
  * {
    box-sizing: border-box;
  }
  [data-layout="image_and_text_column"] {
    * { box-sizing: border-box; }
    [data-name="featured_image"] {
      width: 30%;
      float: left;
      clear: none;
      .show-if-value.image-wrap {
        position: relative;
        width: 100%;
        padding-bottom: 185px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    [data-name="text"] {
      width: 70%;
      float: left;
      clear: none;
    }
    [data-name="buttons_alignment"],
    [data-name="bgcolor"],
    [data-name="text_color"] {
      width: 33.33%;
      float: left;
      clear: none;
    }
    [data-name="image_position"] {
      width: 30%;
      position: absolute;
      top: 230px;
    }
  }

  [data-layout="two_column_intro"] {
    [data-name="collage_images"],
    [data-name="featured_image"] {
      width: 30%;
      float: left;
      clear: none;
    }
    [data-name="description"] {
      width: 70%;
      float: left;
      clear: none;
    }
  }
}

[data-layout="fullwidth_textcontent"] {
  .acf-field[data-name="content_alignment"] {
    width: 30%;
    float: left;
    clear: none;
  }
  .acf-field[data-name="has_graphic_background"] {
    width: 70%;
    float: left;
    clear: none;
    .acf-label {
      top: 24px;
    }
    .acf-input {
      top: 40px;
    }
  }
}

[data-layout="slider_section"] {
  [data-name="text_alignment"],
  [data-name="bgcolor"],
  [data-name="textcolor"] {
    float: left;
    clear: none;
  }

  [data-name="text_alignment"] {
    width: 30%;
  }
  [data-name="bgcolor"] {
    width: 18%;
  }
  [data-name="textcolor"] {
    width: 52%;
  }
}

[data-name="hide_testimonial_section"] {
  width: 30%;
  float: left;
  clear: none!important;
}
[data-name="hide_subscribe_section"] {
  width: 70%;
  float: left;
  clear: none!important;
}


#pageparentdiv.postbox,
#pageparentdiv.hide-if-js {
  display: block!important;
}

